@model IEnumerable<WebApplication42.Models.Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tour_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour_Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Adults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Num_Kids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Tickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tour_Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tour_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour_Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Adults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num_Kids)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Tickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tour_Cost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TourId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TourId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TourId })
        </td>
    </tr>
}

</table>
